.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
}

.button {
  flex-basis: 100%;
  min-width: 10rem;
  /* padding: 1.5rem; */
}

@media screen and (max-width: 492px) {
  .container {
    margin: 1rem 2rem;
    padding: 1rem;
  }
}
