h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.containerForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}

.container1 {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  overflow: scroll;
}

.container2 {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.taskLabel {
  flex-basis: 100%;
  margin: 1rem;
  margin-bottom: 0;
}

.inputLabel {
  flex-basis: 100%;
  min-height: 1rem;
  /* max-width: 100%; */
  width: 100%;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin: 1rem;
  margin-bottom: 0;

  /* overflow: hidden; */
  /* font-size: 2.5rem; */
  font-weight: 300;
  font-family: "Roboto Condensed";
}

.button {
  margin: 1rem;
  padding: 1 rem;
}
/*max-width: 492px*/
@media screen and (max-width: 492px) {
  .container2 {
    margin-top: 0rem;
    justify-content: space-around;
    align-items: center;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
